.container {
    width:500px;
    position: fixed;
}

.left-element {
    display: inline-block;
    position: absolute;
    left: 0;
}

.right-element {
    display: inline-block;
    position: absolute;
    right: 0;
}
