.container1 {
    width:600px;
    position: relative;
}

.left-element {
    display: inline-block;
    position: relative;
    left: 0;
}

.right-element {
    display: inline-block;
    position: relative;
    right: 0;
}
