<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "headers.html" %}
  </head>
  <body>
    {% include "scripts.html" %}
    {% include "navbar.html" %}

    <main role="main" class="container" style="max-width: 1024px;">
      <section id="intro">
        <div class="text-center">
          <img src="pablo.png" width="128px" height="128px"></img>
          <h1 class="paper-title">Help me write a poem: Instruction Tuning as a Vehicle for Collaborative Poetry Writing</h1>
        </div>
        <div class="container">
          <div class="d-flex flex-wrap justify-content-center">
            <a class="navbar-brand m-3 tuhin-logo" href="https://tuhinjubcse.github.io/"></a>
            <a class="navbar-brand m-3 vishakh-logo" href="https://vishakhpk.github.io/"></a>
            <a class="navbar-brand m-3 hehe-logo" href="https://hhexiy.github.io/"></a>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            <div class="btn btn-group">
              <a class="btn btn-lg btn-info" href="https://arxiv.org/abs/2210.13669" role="button" title="Paper">Paper</a>
              <a class="btn btn-lg btn-info" href="https://drive.google.com/drive/u/1/folders/1TRuo-1wQOKBvMyaitRAMzgTmv9PVFDaH" title="Data">Data</a>
              <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Code
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://drive.google.com/drive/u/1/folders/1mjTji9wCfX4KA039wpyQLSMx2A9jLCwe">Model</a>
                <a class="dropdown-item" href="https://github.com/vishakhpk/creative-instructions">Backend</a>
            </div>
          </div>
        </div>
      </section>

      <section id="about">
        <h3>About</h3>
        <p>
          Recent work in training large language models (LLMs) to follow natural language 
          instructions has opened up exciting opportunities for natural language interface
          design. Building  on the prior success of LLMs in the realm of computer-assisted 
          creativity, we aim to study if LLMs can improve the quality of usergenerated content
          through collaboration. We present CoPoet, a collaborative poetry writing system. 
          In contrast to auto-completing a user’s text, CoPoet is controlled by user instructions
          that specify the attributes of the desired text, such as <i>Write a sentence about "love"</i>
          or <i>Write a sentence ending in "fly"</i>. The core component of our system is a language
          model finetuned on a diverse collection of instructions for poetry writing. Our model is not 
          only competitive with publicly available LLMs trained on instructions (InstructGPT), but is 
          also capable of satisfying unseen compositional instructions. A study with 15 qualified 
          crowdworkers shows that users successfully write poems with CoPoet on diverse topics ranging from
          <b>Monarchy</b> to <b>Climate change</b>. Further, the collaboratively written poems are preferred by third-party
          evaluators over those written without the system
        </p>
        <!---
        <div class="img-wrapper text-center">
          <img src="static/overview.svg" style="height: auto; width: 100%;">
        </div>
        <p style="line-height: 1.6rem;">
          A high-level outline of our dataset and platform. In this example
          from a real 
          <a href="https://storium.com/game/night-witches--2/act-1/scene-2" class="text-info initialism">STORIUM</a>
          game, the <span class="character">character</span>
          <span class="character">ADIRA MAKAROVA</span> uses the
          <span class="strength">strength card</span>
          <span class="strength">DEADLY AIM</span> to
          <span class="challenge">DISRUPT THE GERMANS</span>, a
          <span class="challenge">challenge card</span>. Our model
          conditions on the natural language annotations in the
          <span class="scene-intro">scene intro</span>,
          <span class="challenge">challenge</span> card,
          <span class="strength">strength card</span>, and
          <span class="character">character</span>,
          along with the text of the
          <span class="scene-entry">previous scene entry</span> (not shown)
          to generate a suggested story continuation. Players may then edit the
          model output, by <mark class="green">adding</mark> or <mark class="red">deleting</mark> text,
          before publishing the entry. We collect these edits, using the
          <mark>matched</mark> text as the basis of our USER metric. New models
          can be added to the platform by simply implementing four methods:
          <span class="texttt">startup</span>,
          <span class="texttt">shutdown</span>,
          <span class="texttt">preprocess</span>, and
          <span class="texttt">generate</span>.
        </p>--->
      </section>

      <section id="paper">
        <h3>Paper</h3>
        If you use our dataset or evaluation platform, please cite:
        <pre class="citation">
@article{chakrabarty2022help,
  title={Help me write a poem: Instruction Tuning as a Vehicle for Collaborative Poetry Writing},
  author={Chakrabarty, Tuhin and Padmakumar, Vishakh and He, He},
  journal={arXiv preprint arXiv:2210.13669},
  year={2022}
}</pre>
        <div>
          <a class="btn btn-info" href="https://arxiv.org/pdf/2210.13669.pdf" role="button" title="Paper">Read the paper</a>
        </div>
      </section>

      <section id="contact">
        <h3>Contact</h3>
        <p>
          If you have any questions or comments about this work, please visit
          email <a href="https://tuhinjubcse.github.io/" class="text-info">Tuhin</a>
          or <a href="https://vishakhpk.github.io/" class="text-info">Vishakh</a>.
        </p>
      </section>
    </main>
  </body>
</html>
